body {
    margin: 30px;
    font-size: 14px;
}

select {
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 2px;
}

#bicicletas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
}

article {
    padding: 12px;
    text-align: center;
}

article img {
    max-width: 300px;
    max-height: 100px;
    margin-bottom: 10px;
}

article p {
    margin: 6px 0;
}
